body {
  background-color: white;

}

#name {
  display: flex;
  justify-content: center;  
  text-align: center;


}

p {
  color: white;
  width: auto;
  justify-content: center;  
  text-align: center;
  margin: 0;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 3.9vw;
}



#top {
  display: flex;
  width: auto;
  height: 7vh;
}

.top-boxes {
  width: 5vw;
}



#left {
  display: flex;
  width: 5vw;

}



#right {
  display: flex;
  width: 5vw;
  background-color: white;
}



#bottom {
  display: flex;
  width: auto;
  height: 7vh;
}

.bottom-boxes {
  width: 5vw;
  background-color: white;
}



